/* 
* 公共样式类名规范为ketong-*，如ketong-title 
* vi颜色为#3a0304  #edae00
 */

.ketong-main-title {
	font-size: 1.75rem;
	font-weight: 700;
	display: inline-block;
}

.ketong-main-title-border {
		border-bottom: #edae00 3px solid;
		
}

.ketong-sec-title {
	font-size: 1.125rem;
	color: #777;
}

.ketong-dark-red {
	color: #3a0304;
}

.ketong-yellow {
	color: #edae00;
}

html,
body {
	background-color: #f7f8fa;
	font-size: 14px;
	color: #555;
	font-family: "Source Han Sans", "microsoft yahei", "HanHei SC", PingHei, "PingFang SC", sans-serif;
}

/* 该类默认有padding */
.container-fluid {
	padding: 0;
}
p {
	margin: 0;
}

.blockquote {
	border-left: 5px #3A0304 solid;
	line-height: 100%;
}

/* nav */
.navbar {
	height: 80px;
}

.navbar a {
	font-size: 1rem;
	color: #212529;
}

/* //nav */

/* carousel */
.banner {
	position: relative;
	z-index: 999;
}

.carousel-inner .carousel-item {
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	/* height: 440px; */
}
@media (max-width: 991px) {
	.carousel-inner .carousel-item {
		height: 100%;
	}
	.carousel-inner .carousel-item img {
		width: 992px;
		position: relative;
		left: -300px;
	}
} 
@media (min-width: 992px) {
	.carousel-inner .carousel-item{
		height: 100%;
	}
	.carousel-inner .carousel-item  img {
		height: 100%;
	}
}
/* //carousel */

/* service */
#service .service-item {
	padding: 0px 0px;
	height: auto;
	/* width: 260px; */
	background-color: white;
	cursor: pointer;
	border-radius: 0.3125rem;
	box-shadow: 0 0 5px rgb(0,0,0,0.2);
	transition: all 0.3s ease-in-out;
	margin: 0.7rem auto;
}
#service .service-item:hover {
	background-color: #edae00;
	border-radius: 0.3125rem;
	box-shadow: 0 0 5px 2px rgb(0,0,0,0.1);
	transform: translateY(-5px);
}
#service .service-title{
	margin-top: 10px;
	font-size: 1.2rem;
	font-weight: 700;
}
@media (max-width:991px) {
	#service .service-item {
		width: 100%;
	}
}

@media (min-width:992px) {
	#service .service-item {
		width: 49%;
	}
}

@media (min-width: 1140px) {
	#service .service-item {
		width: 24%;
	}
}

.service-item img {
	width: 100%;
	padding: 0;
	margin: 0;
}

.special-item-img img {
	width: 100%;
}
.special-title {
	font-size: 1.5rem;
	font-weight: 700;
	padding-left: 0.625rem;
} 

#routes {
	margin-top: 2.5rem;
	padding-bottom: 2.5rem;
	height: auto;	
	/* background: url(http://www.yixunict.com/img/bg_service.jpg); */
	background-color: white;
	background-repeat: no-repeat;
	background-position: top center;
	background-size: 100%;
}
.routes-content-item {
	height: auto;
	padding-top: 0.3125rem;
}
/* //service */

/* solution */
#solution {
	padding-top: 2.5rem;
	padding-bottom: 2.5rem;
	height: 100%;
	/* background-color: rgb(255,255,255); */	
}
.solution-item {
	width: 95%;
	height: auto;
	margin: 0.3125rem;
	padding: 0.3125rem;
	border: #3A0304 2px solid;
	border-radius: 0.625rem;
}

.solution-item:hover {
	border: #EDAE00 2px solid;
	background-color: #EDAE00;	
	transition: .3s ease-in-out;
	color: white;
	cursor: pointer;
}
/* //solution */

/* clients */
#clients img {
	width: 100%;
}
.clients-item {
	margin: .3rem 0;
}
/* //clients */